#contact-section {
    height: auto;
    width: 100%;

    .form-wrapper {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
                justify-content: center;

        form {
            width: auto;
            padding: 2em 1em;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
                    align-items: center;
            max-width: 500px;
            background: $full-screen-navbar;
            
    
            span {
                padding: 0 0 1em 0;
                display: inline-block;
                font-weight: 600;
                -ms-flex-item-align: start;
                    align-self: flex-start;
            }
    
            p {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                        flex-direction: column;
                max-width: 500px;
                width: 100%;

                label {
                    padding: 1.5em 0 .5em 0;
                    color: $dark-red;
                    font-weight: 600;
                }

                input, textarea {
                    background: white;
                    border: none;
                    border-bottom: 2px solid $light-black;
                    color: $light-black;
                    font-family: $font-primary;
                    font-size: 1em;
                    padding: .4em;
                    -webkit-appearance: none; 
                    -webkit-border-radius:0;
                    border-radius: 0;

                    &:hover, &:focus {
                        background: $light-red;
                        outline: 1px solid $light-black;
                    }
                }

                textarea {
                    // border: 2px solid $light-black;
                    margin: 0 0 1em 0;
                }
            }

            #message-form {
                display: none;
                margin: 1em 0 0 0;
                width: 100%;
                padding: 1em;
                
                font-size: .8em;

                &.error {
                    display: block;
                    border: 2px solid $red;
                    background: $error-form-blur;
                }

                &.sent {
                    display: block;
                    border: 2px solid $green-sent-message;
                    background: $green-sent-blur;
                }
            }

            .spam-verify {
                margin: 0 0 1em 0;
                text-align: left;
                align-self: flex-start;
            }

            button {
                -ms-flex-item-align: start;
                align-self: flex-start;
                margin: 1.5em 0 0 0;
                max-width: 270px;
            }
        }
    }
}