footer {
    background: $light-black;

    .footer-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
        width:100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 2em 1em;

        nav {
            ul {
                li {
                    text-align: center;

                    &:not(:first-child) {
                        margin: 1em 0 0 0;
                    }

                    a {
                        color: $off-white;
                        -webkit-transition: color 600ms ease-in-out;
                        transition: color 600ms ease-in-out;
                    }

                    &:hover {
                        a {
                            color: $red;
                        }
                    }
                }
            }
        }

        .social-media {
            margin: 2em 0;
            width: 25%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                    justify-content: space-between;

            a {
                svg {
                    width: 30px;
                    height: 30px;
    
                    path {
                        fill: $off-white;
                        -webkit-transition: fill 600ms ease-in-out;
                        transition: fill 600ms ease-in-out;
                    }
    
                    &:hover {
                        path {
                            fill: $red;
                        }
                    }
                }

                &:not(:first-child) {
                    margin: 0 0 0 .5em;
                }
            }
        }

        small {
            color: $off-white;
        }
    }
}