@media screen and (min-width: 900px) {
    #work-section {

        .projects {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;

            .project-text {
                width: 50%;
                padding: 0 2em 0 0;
            }
        }
    }
}