@media screen and (min-width: 750px) {
    #home {
        
        h1 {
            margin: 2.5em auto 0 auto;
        }
    }

    .big-section {
        padding: 2em 3em;

        h2 {
            &:after {
                right: -1.5em;
            }
        }
    }

    #work-section {
        
        .projects {
            padding: 3em 0;
        }
    }

    footer {
    
        .footer-wrapper {
            width: 100%;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                    justify-content: space-evenly;
            padding: 2em 3em;

            nav {
                ul {
                    li {
                        text-align: left;

                        &:not(:first-child) {
                            margin: .5em 0 0 0;
                        }
                    }
                }
            }

            .social-media {
                width: 12%;
                max-width: 100px;
            }
        }
    }
}