@media screen and (min-width: 750px) {
    .big-section {
        padding: 2em 3em;

        h2 {
            &:after {
                right: -1.2em;
            }
        }
    }

    #work-section {
        
        .projects {
            padding: 3em 0;
        }
    }
}