#resume-button {
    position: fixed;
    left: 1em;
    bottom: 1em;
    width: 40px;
    height: 40px;
    background: $red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    cursor: pointer;
    transition: all 600ms ease-in-out;

    span {
        i {
            color: $off-white;
        }
    }

    &:hover, &:focus {
        flex-direction: column-reverse;
        transform: scale(2.1) translate(.5em, -0.5em);
        background: $resume-button-blur;

        &:after {
            content: 'Resume';
            width: auto;
            height: auto;
            font-size: .4em;
            color: $off-white;
        }
    }
}