#work-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    position: relative;

    .projects {
        padding: 2em 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
        position: relative;
        max-width: 1440px;
        margin: 0 auto;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 3px;
            background-color: $dark-grey;
        }

        .project-text {
            z-index: 2;
           
            h3 {
                padding: 0 0 1.5em 0;
                font-family: $font-secondary;
                font-size: 1.4em;  
                letter-spacing: .05em;          
            }

            p {
                a {
                    color: $red;
                    font-weight: 600;
                    -webkit-transition: color 600ms ease-in-out;
                    transition: color 600ms ease-in-out;

                    &:hover, &:focus {
                        color: $light-black;
                    }
                }
            }

            .project-access {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: start;
                -ms-flex-align: start;
                        align-items: flex-start;
                padding: 3em 0;
                position: relative;


                a {
                    display: inline-block;
                    width: 100%;
                    max-width: 270px;
                   
                    &:not(:first-child) {
                        margin-top: .5em;
                    }
                }
            }
        }

        .project-image {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: minmax(0, 600px);
                grid-template-columns: minmax(0, 600px);
            opacity: 0;

            img {
                max-width: 100%;
            }
        }

        .slide-left {
            &.animate {
                -webkit-animation: 2s ease-out forwards slideFromLeft;
                        animation: 2s ease-out forwards slideFromLeft;
            }
        }

        .slide-right {
            &.animate {
                -webkit-animation: 2s ease-out forwards slideFromRight;
                        animation: 2s ease-out forwards slideFromRight;
            }
        }
    }
}


@-webkit-keyframes slideFromRight {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
    70% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    100% { 
        opacity: 1; 
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes slideFromRight {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
    70% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    100% { 
        opacity: 1; 
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes slideFromLeft {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    70% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    100% { 
        opacity: 1; 
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes slideFromLeft {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    70% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    100% { 
        opacity: 1; 
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
