// Main/big containers are here, shared styles and variables
// Partials at the bottom of this page

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;300;400;600;700&display=swap');

// -------- Variables

// Fonts
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Bitter', serif;

// Colors
$red: #E54B4B;
$salmon: #FFA987;
$off-white: #F7EBE8;
$dark-grey: #444140;
$light-black: #1E1E24;
$light-grey: #f8f2ef;
$light-red: #ffd6d6;
$dark-red: #e20101;
$green-sent-message: #34ebb4;

// Blur backgrounds
$black-screen-blur: rgba(0, 0, 0, 0.4);
$full-screen-navbar: rgba(30, 30, 36, 0.15);
$resume-button-blur: rgba(229, 75, 75, .8);
$error-form-blur: rgba(229, 75, 75, .4);
$green-sent-blur: rgba(52, 235, 180, .4);

// Page padding is on each section, increased with each media query

/* ------------------------------------ HTML, BODY, ... ------------------------------- */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    overflow-x: hidden;

    &.stop-scroll {
        overflow: hidden;
    }
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: $font-primary;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* -------------------------------------- CONTAINER ------------------------------------- */ 
#container {
    width: 100%;
    height: 100%;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr);
        grid-template-columns: minmax(0, 1fr);
    // -ms-grid-rows: (auto)[6];
        grid-template-rows: repeat(6, auto);
}

/* ---------------------------------------- MAIN ----------------------------------------- */
main {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}

/* ------------------------------------- SHARED STYLES ----------------------------------- */ 
// h2 for each big section: work, about and contact and global styles for these sections
// svg placement on each h2 pseudo element


.big-section {
    width: 100%;
    position: relative;
    padding: 2em 1em;
    background: $off-white;
    z-index: 1;

    h2 {
        text-align: left;
        font-size: 2em;
        font-family: $font-secondary;
        padding: 2.5em 0 1.5em 0;
        position: relative;
        z-index: 1;
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;

        &:after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='215' height='135' viewBox='0 0 215 135'%3E%3Crect x='0' y='50' width='200' height='50' fill='grey'/%3E%3Crect x='80' y='70' width='65' height='55' fill='%231E1E24'/%3E%3Crect x='150' y='0' width='65' height='55' fill='%23444140'/%3E%3Crect x='170' y='90' width='45' height='45' fill='%23444140'/%3E%3C/svg%3E");
            position: absolute;
            right: -0.6em;
            top: -1em;
            width: auto;
            height: auto;
            z-index: -1;
            display: block;
        }
    }

    // -------------- Buttons

    .deployed-projects {
        background: $red;
        border: none;
        padding: .7em 2.5em;
        width: 100%;
        cursor: pointer;
        -webkit-transition: background 600ms ease-in-out;
        transition: background 600ms ease-in-out;
        color: $off-white;
        font-family: $font-primary;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-weight: 600;
        font-size: .8em;

        &:hover, &:focus {
            background: $light-black;
            outline: 3px solid $red;
            outline-offset: -3px;
            color: $red;
        }
    }
}

// Partials
@import 'header';
@import 'footer';
// @import 'about';
@import 'home';
@import 'work';
@import 'contact';
@import 'resume-button';
@import 'home-animation';

// Media queries
@import 'media-600';
@import 'media-750'; 
@import 'media-900';
@import 'media-1300';